<!-- To be included before body -->
<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <a href="https://oclaunch.eu.org" class="pure-menu-link">
            OcLaunch.eu.org
          </a>
        </li>
        <li class="pure-menu-item">
          <a href="https://gitlab.com/WzukW/oclaunch-oclaml"
             class="pure-menu-link">Edit this page</a>
        </li>
        <li class="pure-menu-item">
          <a href="https://oclaunch.eu.org/doc/latest/quick-start.html"
             class="pure-menu-link" style="background: #fea525;">Download</a>
        </li>
    </ul>
</div>
