<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<meta name="description" content="Quick overview of OcLaunch">
<script async type="text/javascript" src="/jquery.min.js"></script>
<script type="application/x-social-share-privacy-settings">
{"path_prefix":"/SocialSharePrivacy/","layout":"line","services":{"buffer":{"status":false},"delicious":{"status":false},"disqus":{"status":false},"tumblr":{"status":false},"fbshare":{"status":false},"flattr":{"status":false},"hackernews":{"status":false},"linkedin":{"status":false},"pinterest":{"status":false},"reddit":{"status":false},"stumbleupon":{"status":false},"xing":{"status":false}}}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebPage",
  "sameAs": "https://oclaunch.eu.org/",
  "mainEntity": {
    "@context": "http://schema.org",
    "@type": "SoftwareApplication",
    "name": "OcLaunch",
    "image": "http://oclaunch.eu.org/logo.svg",
    "url": "http://oclaunch.eu.org",
    "author": {
      "@type": "Person",
      "name": "Leo Wzukw"
    },
    "applicationCategory": "tool",
    "downloadUrl": "http://download.tuxfamily.org/oclaunch/oclaunch.xml",
    "operatingSystem": "UNIX-like (Linux, Mac OS X, BSD, ...)",
    "requirements": "OCaml",
    "screenshot": "http://oclaunch.tuxfamily.org/fast.gif"
  },
  "license": "http://creativecommons.org/licenses/by-sa/4.0/"
}
</script>
<link rel="icon" type="image/png" href="/favicon.png">
