@media  (max-width: 600px) {
  #side {
    visibility: hidden !important;
    height: 0;
  }
}
*
{
  font-family: "Source Sans Pro";
  /*color: white*/
  letter-spacing: 0.01em;
}

/* Hide Pandoc produced output */
header { display: none !important }

body>.pure-g>.pure-u-md-20-24
{
  background: linear-gradient(90deg, #FFFFFF, #F6F6F6);
  padding: 1em;
}

.hero {
  text-align: center;
  margin: 5rem auto;
}
#logo {
  padding: 1em;
  max-width: 100%;
  margin: 2rem auto;
  height: 15em;
}
.hero>* {
  margin: 2em auto;
}
.hero>p>a {
   margin: 1em auto;
}
h1 { line-height: 0.8em; font-weight: 100; }
h1>small {
  font-size: 0.7em;
  margin: 0;
  color: #9E9E9E;
}

#share, h1
{
  text-align: center;
}

html
{
  /*background-image: linear-gradient(to bottom, #ED6419 0%, rgba(231, 135, 12, 0.9) 99%, #CEE114 100%);*/
    background: linear-gradient(0deg, #FFA726, #D45500) no-repeat fixed 100% 100%;
}

/* Menu */
.pure-menu {
   background: #F6F6F6;
}

/* Dictionary like */
dt {
   font-weight: 900
}
.pro {
  font-weight: 100;
}
/*
.example {
  padding: 0.5625rem 1.25rem 0px 1.1875rem;
  color: #6F6F6F;
  border-left: 1px solid #DDD;
}
*/
.go {
  text-align: center;
  background: linear-gradient(0deg, #FFA500, #FFA726) repeat fixed 100% 100%;
  font-size: 1.5em;
  border-style: none;
  border-radius: 2em;
  margin: 0;
  width: 100%;
  padding: 0.1em;
}
.go > a {
   color: black
}
